body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todo {
  cursor: pointer;
  border: solid 1px;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  width: 80%;
}

.todo:hover {
  box-shadow: 2px 2px black;
}

.todo:active {
  box-shadow: none;
}

.complete {
  text-decoration: line-through;
  color: lightgray;
  border-color: lightgray;
}

.complete:hover {
  box-shadow: 2px 2px lightgray;
}
